nav{
    position:absolute;
}

.menu-top {
    background-color: #66bb6a;
}

.form{
    padding: 80px 20px 0;
}

/*@media screen and (max-width: 480px) {
    .flex[class*="two"] > * {
        width: 90% !important;
    }

    .form {
        padding: 80px 10px 0;
    }
}*/