@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div></div>

<div id="user-create" class="form">
    <fieldset class="flex two">
        <label><input type="text" placeholder="Nome" v-model="user.name" value="" /></label>

        <label><input type="text" placeholder="Telefone" v-model="user.fone" value="" /></label>

        <label><input type="text" placeholder="CPF" v-model="user.cpf" value="" /></label>

        <label><input type="email" placeholder="E-MAIL" v-model="user.mail" value="" /></label>

        <label><input type="password" placeholder="Senha" v-model="user.password" value="" /></label>
    </fieldset>

    <button @@click="create">Cadastrar</button>
</div>
<script>
        var userCreateViewModel = new Vue({
            el: "#user-create",
            data: {
                user: {}
            },
            methods: {
                create: function () {

                    axios.post('/api/User', this.user)
                        .then(function () {
                            alert("Sucesso");
                        })
                        .catch(function () {
                            alert("Deu erro");
                        })
                }
            }
        })
</script>
