<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CREATE USER</title>
</head>
<body>
    <h1>Criar Usuário</h1>

    <div id="user-create">
        <input type="text" placeholder="Nome" v-model="user.name" value=""/>

        <input type="text" placeholder="Telefone" v-model="user.fone" value="" />

        <input type="text" placeholder="CPF" v-model="user.cpf" value="" />

        <input type="text" placeholder="E-MAIL" v-model="user.mail" value="" />

        <input type="password" placeholder="Senha" v-model="user.password" value="" />

        <button @click="create">Cadastrar</button>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>

    <script>
        var userCreateViewModel = new Vue({
            el: "#user-create",
            data: {
                user: {}
            },
            methods: {
                create: function () {

                    axios.post('/api/User', this.user)
                        .then(function () {
                            alert("Sucesso");
                        })
                        .catch(function () {
                            alert("Deu erro");
                        })
                }
            }
        })
    </script>

</body>
</html>